<div class="col-md-8">
  <div class="pane">
    <h1 class="inline-block">今日快樂指標</h1>
    <%= link_to '＋新增快樂', new_score_path, class: "btn btn-primary inline-block" %>
    <%= render 'table' %>
    <br>
  </div>
</div>
