
  <div class="row text-center homepage">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="title"><b>-快樂自己來-</b></h1>
    <h3>每天於早餐後、午餐後、晚餐後、共三次，分別記錄快樂指數，以一分到十分為量尺自評快樂分數，並簡單寫下評分理由。久而久之，形成自己的快樂指數！</3>
    <br><br>
    <%= link_to '登入', new_user_session_path , { class: 'btn btn-primary btn-lg', role: 'button'} %>
    <%= link_to '立即開始', new_user_registration_path , { class: 'btn btn-primary btn-lg', role: 'button'} %>
  </div>
  </div>
