// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
  background: url(/bg.jpg) no-repeat fixed center;
  background-size: cover;
  color: white;
}

.title {
  font-size: 20px;
  letter-spacing: 20px;
  color: #eee;
}

.homepage {
  padding: 50px;
}

.homepage > div > h3 {
  font-size: 20px;
  line-height: 1.5;
}
